/* allgemeine Einstellungen */

*{
  box-sizing: border-box;
}

.container {
  width: 80%;
  position: relative;
}

footer li {
  list-style: none;
}

/* trying to fix animation
.col-md-6 {
  margin: 20px;
}
*/

img {
  width: 100%;
  display: block;
  margin: 20px;
}

/* index-page*/

.landingpage {
  top: 0;
  position: fixed;
  margin: 0;
}

.text-center {
  position: relative;
  top: 225px;
}

.headline {
  font-size: 61pt;
}


/* Animation Landingpage

.anima1 {
  animation: anima1 2s infinite;
}

@@keyframes anima1 {
  0% {
    display: none;
  }
  40% {
    display: block;
  }
  100% {
    display: none;
  }
}

*/



/* work-page */

.katze {
  position: relative;
  top: 470px;
  font-size: 12pt;
}


/* work-page overlay-effekt */

.overlay {
  position: relative;
  bottom: 0;
  left:100%;
  right: 0;
  background-color: red;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 2s ease;
}

a:hover .overlay{
  width: 100%;
  left: 0;
}

.overlay-text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -m-transform: translate(-50%, -50%);
}

.overlay-fade {
position: relative; /* Bilder nicht mehr sichtbar???*/
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: 1s ease;
background-color: red;
}

a:hover .overlay-fade {
  opacity: .5;
}

.overlay-fade-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
