/* allgemeine Einstellungen */

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 80%;
  position: relative;
}

footer li {
  list-style: none;
}

/* trying to fix animation
.col-md-6 {
  margin: 20px;
}
*/

img {
  display: block;
  width: 100%;

}

/* index-page*/

.landingpage {
  top: 0;
  position: fixed;
  margin: 0;
}

.text-center {
  position: relative;
  top: 225px;
}

.headline {
  font-size: 61pt;
}


/* Animation Landingpage

.anima1 {
  animation: anima1 2s infinite;
}

@@keyframes anima1 {
  0% {
    display: none;
  }
  40% {
    display: block;
  }
  100% {
    display: none;
  }
}

*/



/* work-page */

.katze {
  position: relative;
  top: 470px;
  font-size: 12pt;
}


/* work-page overlay-effekt */

.overlay-fade {
position: relative; /* Bilder nicht mehr sichtbar???*/
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: 1s ease;
background-color: red;
}

a:hover .overlay-fade {
  opacity: .5;
}

.overlay-fade-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.work {
  position:relative;
}
.work .overlay{
  position:absolute;
  width:100%;
  height:100%;
  background-color: rgba(255,0,0,0.5);
  vertical-align:middle; /* unnecessary */
}

.work .overlay a {
  display:block;
  width:60%;
  margin:120px auto 0;
  text-align: center;
}

@media (max-width: 575px) {
  .work .overlay a {
    margin:80px auto 0;
  }

 }


@media (max-width: 767px) {

  .work .overlay a {
    margin:100px auto 0;
  }
 }


@media (max-width: 991px) {  }


@media (max-width: 1199px) {  }
